.shell {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: var(--titlebar-height) minmax(0, 1fr);
  height: 100%;
}

.shell > header {
  grid-column: 1 / -1;
}

.content {
  min-width: 0;
  min-height: 0;
  overflow: auto;
  background: var(--bg-layer);
  border-top: 1px solid var(--stroke-card);
  border-left: 1px solid var(--stroke-card);
  border-top-left-radius: var(--radius-lg);
}

.shell[data-mobile='true'] {
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: var(--titlebar-height) minmax(0, 1fr) auto;
}
.shell[data-mobile='true'] .content {
  border-left: 0;
  border-radius: 0;
}
